<!-- Dashboard Header -->
<header class="bg-gray-800 p-6 mb-8">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-3xl font-bold text-white">QR-MATE</h1>
    <a
      href="/sign-out"
      class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
      >Sign Out</a
    >
  </div>
</header>

<!-- Dashboard Content -->
<main class="container mx-auto px-4">
  <!-- QR Code Generation Section -->
  <section class="bg-white p-6 rounded-lg shadow-lg mb-6">
    <h2 class="text-2xl font-serif font-semibold text-gray-800 mb-4">
      Generate Voucher QR Code
    </h2>
    <button
      class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
      id="generateQR"
    >
      Generate QR Code
    </button>
    <p id="qrMessage" class="mt-4"></p>
  </section>

  <!-- Existing Vouchers Section -->
  <section class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Existing Vouchers</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <!-- Sample Voucher Item -->
      <% if (vouchers && vouchers.length) { %> <% vouchers.forEach((voucher) =>
      { %>

      <div class="bg-gray-200 p-4 rounded-lg shadow-md">
        <div class="flex justify-between items-center mb-3">
          <h3 class="text-xl font-semibold text-gray-800">
            #<%= voucher.voucher_code %>
          </h3>
          <button
            class="bg-green-500 text-white py-1 px-4 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500"
            onclick="downloadVoucherPDF('<%= voucher.voucher_code %>')"
          >
            Print PDF
          </button>
        </div>
        <p class="text-gray-600 font-semibold">
          Generated on: <%= new
          Date(voucher.generated_date).toLocaleDateString()%>
        </p>
        <p class="text-gray-600 font-semibold">
          Expiry Date: <%= new Date(voucher.expiry_date).toLocaleDateString()%>
        </p>
        <div class="mt-3 flex justify-start">
          <img
            src="<%= voucher.qr_code_path%>"
            alt="QR Code"
            class="w-24 h-24"
          />
        </div>
      </div>

      <% }) %> <% } %>
      <!-- Add more vouchers dynamically here -->
    </div>
  </section>
</main>

<script>
  const qrMessage = document.getElementById("qrMessage");

  document
    .getElementById("generateQR")
    .addEventListener("click", async function () {
      const response = await fetch(
        "http://192.168.1.2:3000/dashboard/generate-qr",
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      const data = await response.json();

      if (data.success) {
        qrMessage.textContent = data.message;
        qrMessage.style.color = "green";
        setTimeout(() => qrMessage.remove(), 5000);
      } else {
        qrMessage.textContent = data.message;
        qrMessage.style.color = "red";
        setTimeout(() => qrMessage.remove(), 5000);
      }
    });


  function downloadVoucherPDF(voucherNumber) {
    // Send an HTTP GET request to the backend route that generates and serves the PDF
    window.location.href = `/dashboard/print-voucher/${voucherNumber}`;
  }
</script>
